h1.sample
  font-family: Arial
  text-align: center
  margin: 3em auto

a
  cursor: pointer

.menu
  text-align: center
  .btn
    padding: .5em 1em
    background-color: blue
    color: white
    &a
      color: white